#
# vSphere Configuration
#
vsphere_server       = "vc.lab.local"
vsphere_user         = "administrator@vsphere.local"
vsphere_password     = "VMware1!"
vsphere_vm_template  = "centos7_x64"

vsphere_clusters = [
  {
    datacenter        = "Datacenter"
    cluster           = "Cluster_01"
    dvs               = "DSwitch"
    portgroup         = "VM Network"
    ipv4_ips          = ["10.0.0.11", "10.0.0.12", "10.0.0.13", "10.0.0.14"]
    ipv4_mask         = 24
    ipv4_gw           = "10.0.0.1"
    dns_domain        = "lab.local"
    dns_servers       = ["10.10.0.1", "10.10.0.2"]
    dns_suffix        = ["lab.local", "dev.local"]
    datastore         = "vsanDatastore"
    policy_home       = "vSAN Default Storage Policy"
    policy_os         = "vSAN Default Storage Policy"
    policy_data       = "vSAN Default Storage Policy"
  },
  {
    datacenter        = "Datacenter"
    cluster           = "Cluster_02"
    dvs               = "DSwitch"
    portgroup         = "VM Network"
    ipv4_ips          = ["10.0.1.11", "10.0.1.12", "10.0.1.13", "10.0.1.14"]
    ipv4_mask         = 24
    ipv4_gw           = "10.0.0.1"
    dns_domain        = "lab.local"
    dns_servers       = ["10.10.0.1", "10.10.0.1"]
    dns_suffix        = ["lab.local", "dev.local"]
    datastore         = "vsanDatastore"
    policy_home       = "vSAN Default Storage Policy"
    policy_os         = "vSAN Default Storage Policy"
    policy_data       = "vSAN Default Storage Policy"
  }
]

#
# CRDB
#
crdb_per_cluster = 4
crdb_worker_per_cluster = 1

crdb = {
  cpu = 16
  memory_gb = 64
  os_disk_gb = 100
  data_disk_count = 2
  data_disk_gb = 100
}

crdb_worker = {
  cpu = 4
  memory_gb = 8
  os_disk_gb = 100
}
