#!/bin/bash
#
# Workload TPCC run
#
echo "Starting test run at `date`" |& tee -a {{ test_run_log }}
echo "Connection URL: {{ connection_url }}" |& tee -a {{ test_run_log }}

echo "Running TPCC test" |& tee -a {{ test_run_log }}
echo "Warehouses: {{ warehouses }}" |& tee -a {{ test_run_log }}
echo "Duration: {{ run_duration }}" |& tee -a {{ test_run_log }}
echo "Options: {{ run_options if (run_options is defined) else '' }}" |& tee -a {{ test_run_log }}

cockroach workload run {{ workload }} {% if run_options is defined %}{{ run_options }}{% endif %} --warehouses={{ warehouses }} --duration={{ run_duration }}s --histograms={{ test_run_histogram }} {{ connection_url }} |& tee -a {{ test_run_log }}

echo "Completed run at `date`" |& tee -a {{ test_run_log }}
