#!/bin/bash
#
# Workload TPCC init
#
echo "Starting initialization at `date`" |& tee -a {{ test_init_log }}
echo "Connection URL: {{ connection_url }}" |& tee -a {{ test_init_log }}

echo "Dropping previous database" |& tee -a {{ test_init_log }}
cockroach sql --execute="DROP DATABASE IF EXISTS {{ workload }}" --url="{{ connection_url }}" |& tee -a {{ test_init_log }}

echo "Applying database settings" |& tee -a {{ test_init_log }}
{% if db_settings is defined and db_settings is iterable %}
{% for item in db_settings %}
echo "Setting {{ item }}" |& tee -a {{ test_init_log }}
cockroach sql --url={{ connection_url }} --execute="{{ item }}"
{% endfor %}
{% endif %}

echo "Sleeping 5 seconds" |& tee -a {{ test_init_log }}
sleep 5

echo "Importing database" |& tee -a {{ test_init_log }}
echo "Warehouses: {{ warehouses }}" |& tee -a {{ test_init_log }}
echo "Options: {{ init_options if (init_options is defined) else '' }}" |& tee -a {{ test_init_log }}

cockroach workload fixtures import {{ workload }} --warehouses={{ warehouses }} {% if init_options is defined %}{{ init_options }}{% endif %} "{{ connection_url }}" |& tee -a {{ test_init_log }}

echo "Completed initialization at `date`" |& tee -a {{ test_init_log }}
